<div class="custommargin container">

<label class="custommargin label">Password Generator</label>

<div class="custommargin field">
    <label class="custommargin label">Length</label>
  <div class="custommargin control">
    <input class="custommargin input" (input)="onChangelength($event)" type="text"/>
  </div>
</div>

<div class="custommargin field">
  <div class="custommargin control">
    <label class="checkbox">
      <input (change)="onSelectUseLatters()" type="checkbox">
        Use Latters
    </label>
  </div>
</div>

<div class="custommargin field">
  <div class="custommargin control">
<label class="checkbox" >
<input (change)="onSelectUseNumber()" type="checkbox">
  Use Numbers
</label>
</div>
</div>

<div class="custommargin field">
  <div class="custommargin control">
<label class="checkbox">
<input (change)="onSelectUseSymbols()" type="checkbox">
  Use Symbols
</label>
</div>
</div>
<div class="custommargin control">
  <button [ngClass]=
  "{
    'is-primary': (length && (includeLatters ||includeNumbers || includeSymbols)) === true,
    'is-light': (length && (includeLatters ||includeNumbers || includeSymbols)) === false
  }"
   class="custommargin button" [disabled] = "!(length && (includeLatters ||includeNumbers || includeSymbols))" (click)="onGeneratePasswordClick()">
    Generate
  </button>
</div>

<div class="custommargin field" *ngIf="generatedPassword">
      <label class="custommargin label"> Your Password </label>
      <input class="input content is-large" [value]="generatedPassword">
</div>

</div>

